<ul class="nav nav-tabs">
    <li class="nav-item">
        <a
            class="nav-link <% if(tabpage === 'books') { %>active<% } %>"
            href="/admin/books"
            >Книги</a
        >
    </li>
    <li class="nav-item">
        <a
            class="nav-link <% if(tabpage === 'users') { %>active<% } %>"
            href="/admin/users"
            >Пользователи</a
        >
    </li>
    <li class="nav-item">
        <a
            class="nav-link <% if(tabpage === 'addbook') { %>active<% } %>"
            href="/admin/addbook"
            >Добавить книгу</a
        >
    </li>
</ul>
