<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#">Книги</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Пользователи</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Добавить книгу</a>
    </li>
</ul>
