<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Меню администратора</title>
</head>
<body>
    <%- include('./partials/navbar') %>
    <%- include('./partials/adminHeader') %> 
</body>
</html>