<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
        <title>Меню администратора</title>
    </head>
    <body>
        <%- include('./partials/navbar') %> <%-
        include('./partials/adminHeader') %>
        <form action="/addbook" method="post" class="container mt-4">
            <div class="form-group">
                <label for="exampleFormControlInput1">ДОДЕЛАЙ ЭТО!!!</label>
                <input
                    type="email"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="name@example.com"
                />
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1"
                    >Example textarea</label
                >
                <textarea
                    class="form-control"
                    id="exampleFormControlTextarea1"
                    rows="3"
                ></textarea>
            </div>
        </form>
    </body>
</html>
