<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
        <title>Каталог</title>
    </head>
    <body>
        <%- include('./partials/navbar') %>
        <main>
            <div id="filter" class="alert alert-warning m-3">
                <div class="form-col m-2">
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Поиск по названию"
                    />
                    <div class="form-col m-2">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                            id="defaultCheck1"
                        />
                        <label class="form-check-label" for="defaultCheck1">
                            В наличии
                        </label>
                    </div>
                </div>
            </div>
            <div id="catalog"></div>
        </main>
        <script src="/js/catalog.js"></script>
    </body>
</html>
